/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

 .main-page
    .theme-default-content:not(.custom)
        max-width 100% !important
        padding 0
        padding-top 2rem
    .page
        padding-bottom 0
    .page-edit
        padding 0
