<template>
    <iframe :src="link" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen" width="720" height="480" frameborder="0"></iframe>
</template>

<script>
export default {
    props: {
        link: {
            type: String,
            required: true
        }
    },
    data() {
        return {}
    }
}
</script>
