<template>
    <section>
        <br><br>
        <div v-if="features && features.length" class="features">
            <div 
                v-for="(feature, index) in features" 
                :key="index" 
                class="feature">
                <h2>{{ feature.title }}</h2>
                <p>{{ feature.description }}</p>
            </div>
        </div>
        <br><br>
        <br><br>
    </section>
</template>

<script>
export default {
    name: "Features",
    data() {
        return {
            features: [
                {title: 'discover', description: 'Learn about the amazing things Yobi can do for you'},
                {title: 'get help', description: 'Get help and excel at using your Yobi account'},
                {title: 'achieve more', description: 'Achieve the most out of Yobi\'s platforms and integrations'}
            ]
        }
    }
}
</script>

<style lang="css">
 .features {
    /* border-top: 1px solid #eaecef; */
    padding: 1.2rem 0;
    margin: 2.5rem 0;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
}
.feature {
    display: inline-block;
    max-width: 33.33%;
    padding: 2rem;
}
@media(max-width: 992px) {
       .feature {
            max-width: 100%;
        } 
}
</style>