<template>
    <section>
        <br>
        Have more questions? <a :href="$withBase('/ticket')">contact us</a>
        <rating />
    </section>
</template>

<script>

import rating from "./rating"

export default {
    name: 'feedback',
    components: {
        rating
    }
}
</script>
