<template>
  <footer>
    <div class="grid-container">
      <div class="grid-item">
        <br>
        <div class="footer-logo-container">
          <img src="https://yobi.app/file/2021/09/yobi-footer-logo.png" alt="yobi app logo" class="m-auto">
        </div>
        <br><br>
        <div class="store-logo-container">
          <a href="https://play.google.com/store/apps/details?id=com.yobi.mobile">
            <img src="images/playstore.png" alt="Yobi android app" class="store-logo playstore m-auto">
          </a>
        </div>
        <div class="store-logo-container">
          <a href="https://apps.apple.com/us/app/yobi-business-phone/id1545096134">
            <img src="images/appstore.png" alt="Yobi iOS app" class="store-logo appstore m-auto">
          </a>
        </div>
       </div>
      <div class="grid-item">
        <h3>Main office</h3>
        <address>
          75 E Santa Clara St,<br>
          #600 San Jose <br>
          CA 95113<br>
          408-676-2003
        </address>
        <h3><a href="mailto:yobi@yobi.app">yobi@yobi.app</a></h3>
      </div>
      <div class="grid-item">
        <h3>Social media</h3>
        <p>
          <a href="https://www.facebook.com/YobiApplication">Facebook</a>
        </p>
        <p>
          <a href="https://twitter.com/yobi_app">Twitter</a>
        </p>
        <p>
          <a href="https://www.instagram.com/yobi.app/">Instagram</a>
        </p>
      </div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>

  </footer>
</template>

<style lang="css" scoped>
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 85vw;
  margin: auto;
}
.grid-item:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 20px 0;
}
.grid-item {
  text-align: center !important;
  padding: 15px;
}
footer {
  background: linear-gradient(45deg, #e7d6f5, #dff3f2, #f2ecee);
}
.footer-logo-container {
  text-align: center;
}
.footer-logo-container img {
  display: block;
  width: 175px;
}
.store-logo {
  display: block;
  width: 160px;
}
.appstore {
  width: 140px  
}
.m-auto {
  margin: 0 auto;
}

@media(max-width: 768px) {
  .grid-container {
    display: block;  
    width: 85vw;
    margin: auto;
  }
  .grid-item {
    display: block;
    width: 100%;  
  }
}
</style>