<template>
     <iframe id="JotFormIFrame-220835964818063" title="Yobi ticket " onload="window.parent.scrollTo(0,0)" allowtransparency="true" allowfullscreen="true" allow="geolocation; microphone; camera" src="https://form.jotform.com/220835964818063" frameborder="0" style=" min-width: 100%; height:750px; border:none;" scrolling="no" >
     </iframe> 
</template>
